* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column !important;
        align-items: center;
    }
    
    .container form,
    .container .flex.flex-col {
        width: 90% !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
}

.title-bar {
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;          
    justify-content: space-between; 
    padding: 0 20px;              
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.title-bar h1 {
    margin: 0;
}

.title-bar a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}