<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>About</title>
</head>
<body>
    <!-- Title Bar -->
    <div class="title-bar text-3xl bg-yellow-300">
        <nav class="nav-links hover:font-bold">
            <a href="{{ url_for('home') }}">Ctrl + Safe</a>
        </nav>
        <nav class="nav-links hover:font-bold">
            <a href="{{ url_for('about') }}">About</a>
        </nav>
    </div>
    <!-- Content -->
    <div class="flex justify-center items-center" style="height: calc(100vh - 50px);">
        <div class="w-1/2 h-1/2 text-2xl selection:bg-black selection:text-white">
            <span style="font-weight: bold;">About:</span><br>
            <span style="font-weight: bold;">Ctrl + Safe</span>
            is an Automated Detector for Hate Speech and
            Cyberbullying in Social Media Through the use of
            a Machine Learning Model.
            <div class="h-[15%]"></div>
            <span style="font-weight: bold;">Made by:</span><br>
            Cyrelle Kristin P. Gapit <br>
            Amazing Grace O. Cabiles <br>
            Francen P. Manalo <br>
            <div class="h-[25%]"></div>
        </div>
    </div>
</div>
</body>
</html>