<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Ctrl+Safe</title>
</head>
<body>
    <!-- Title Bar -->
    <div class="title-bar text-3xl bg-yellow-300">
        <nav class="nav-links hover:font-bold">
            <a href="{{ url_for('home') }}">Ctrl + Safe</a>
        </nav>
        <nav class="nav-links hover:font-bold">
            <a href="{{ url_for('about') }}">About</a>
        </nav>
    </div>
    <!-- Results Panel -->
    <div class="flex justify-center items-center">
        <div class="container flex justify-center items-start" style="padding-top:10vh; gap:16px;">
            <form style="width:600px;">
                <textarea rows="15" placeholder="Enter words to detect"
                    class="p-6 text-xl resize-none border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-black"
                    style="width:100%; height:470px; padding-top:5px; padding-left:5px;"></textarea>
            </form>
            <div class="flex flex-col" style="width:600px; gap:16px;">
                <div class="result-panel border border-black rounded-xl p-4 text-2xl"
                    style="height:400px; padding-top:5px; padding-left:5px; border-width:2px;">
                    <div class="result-text font-bold h-[15%]">Result:</div>
                    <!-- use class="text-green-600" for green color
                     and use class="text-red-600" for red color
                    -->
                    <div class="text-green-600 text-center text-3xl">
                        No Hate Speech Detected
                    </div>
                    <div class="h-[25%]"></div>
                    <div class="probability-text font-bold">Probability:</div>
                    <div class="h-[10%]"></div>
                    <!-- use class="text-green-600" for green color
                     and use class="text-red-600" for red color
                    -->
                    <div class="text-green-600 text-center text-3xl">
                        0.00%
                    </div>
                </div>
                <!-- Detect Button -->
                <button type="submit" class="bg-yellow-300 hover:bg-yellow-400 active:bg-yellow-400"
                style="padding:10px 10px; font-size:24px; font-weight:bold; color:black; border-radius:0.5rem; border:none;">
                    Detect Words
                </button>
            </div>
        </div>
    </div>
    <div class="h-[10%]"></div>
</body>
</html>